/data
/nwm
/oscillpscope_test
/plot.ipynb
/test.py
voltage_data/hydrogel_test_CH1_20250219_161216.csv
voltage_data/hydrogel_test_CH2_20250219_161216.csv
voltage_data/last_waveform_CH1_20250219_161216.csv
voltage_data/last_waveform_CH2_20250219_161216.csv
voltage_data/voltage_measurements_20250218_235854.csv
voltage_data/voltage_vs_time_20250218_235240.csv
waveform_data/test_20250218_234939/time_index.csv
__pycache__/nanowire_control.cpython-39.pyc
__pycache__/nanowire_test_control.cpython-39.pyc
__pycache__/oscilloscope_acquisition.cpython-39.pyc
oscilloscope_access.ipynb
test_function/__pycache__/signal_simulator.cpython-39.pyc
test_function/__pycache__/signal_simulator.cpython-39.pyc
test_function/HF_monitor.py
test_function/monitor_1.py
test_function/monitor_2.py
test_function/mutichannel.py
test_function/oscilloscope_demo.py
